<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container-fluid">

        <a [routerLink]="['/']" class="navbar-brand ms-5 "> <strong>Categories</strong> </a>

        <form class="d-flex me-5" #searchForm="ngForm" (ngSubmit)="onSubmit()">
            <input name="searchString" #searchString="ngModel" [(ngModel)]="queryString" 
                class="form-control me-2"  type="search" 
                placeholder="Search" aria-label="Search" 
                required
            >
            <button class="btn btn-outline-warning" type="submit"
                [disabled]="searchForm.invalid"
            >
                Search
            </button>
        </form>
        
    </div>
</nav>