/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

a {
    text-decoration: none;
}

.category {
    width: 18rem; 
    min-height: 8rem; 
    float:left;
}